<div {{ attributes }}>
    <div class="islandora_riprap_report">
    <p>Fixity events for resource associated with Media {{ mid }} ({{ binary_resource_url }}).</p>
    <pre>{{ report }}</pre>
    </div>
</div>
